
  body {
    background-image: linear-gradient(#e0e0bc, #d8937c);
    /*    

    Maki&Aki-2
    e0e0bc
    d8937c
    background-image: linear-gradient(#e0e0bc, #d8937c);



    Maki-1
    background-image: linear-gradient(#36445f, #B9998E);

    Revot
    background-image: linear-gradient(#071B44, #B9998E);



    */
  /*      #19ffcdf1*/

  
  }
