/*definition*/
.def
{
    border-style: none;
    background-color:rgb(252, 235, 214);
}

p.def> strong:first-child
{
    color:rgb(233, 172, 93)
}

/*property, theorem, lemma, ...*/
.theo
{
    border-style: none;
    background-color:rgb(196, 229, 250);
}

p.theo> strong:first-child
{
    color:rgb(39, 36, 214)
}

/*exercise, used on 'strong'*/

.exe
{
    color:rgb(177, 67, 76)
}

/*sub-title*/
h4
{
    color:rgb(110, 226, 220);
}



